<!-- Flex container that has 7 rows max generated off of the currentCalendarDays -->
<div class="calendar-container">
  <div>
    <section>
      <ol id="list1">
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
      </ol>
    </section>
    <section id="list2">
      <ol>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
      </ol>
    </section>
    <section id="list3">
      <ol>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
      </ol>
    </section>
    <section id="list4">
      <ol>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
      </ol>
    </section>
    <section id="list5">
      <ol>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
        <li><day-view></day-view></li>
      </ol>
    </section>
  </div>
</div>
