<div class="container">
  <div class="day-header">SUN</div>
  <div class="day-header">day</div>
  <!-- Events container will be a flex box, aligned vertically -->
  <div class="events-container">
    <!-- Holiday container will spread evenly, aligned vertically, anchoring the top of the holiday container -->
    <div class="holiday-container">{{ day }}</div>
    <!-- Scheduled events will spread evenly, aligned vertically, anchored twoards the center of the container -->
    <div class="scheduled-events-container"></div>
  </div>
</div>
