.calendar-grid {
  height: calc(100% - 97px);
  box-sizing: border-box;
  border-left: rgb(218, 220, 224) 1px solid;
  margin-left: 8px;
  margin-right: 8px;
}

.row {
  display: flex;
  height: 20px;
}

.cell {
  display: flex;
  align-items: end;
  width: 100%;
  height: 100%;
  border-right: rgb(218, 220, 224) 1px solid;
}

.day-acronym {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 11px;
}

.day-cell-grid {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.date-row {
  display: flex;
  height: 100%;
  border-bottom: rgb(218, 220, 224) 1px solid;
}

month-view-cell {
  height: 100%;
}
